body {
  background-color: #C5621B;
  background-size: 100% auto;
}

body, button {
  font-family: "Bai Jamjuree", sans-serif;
}

.btn-container {
  text-align: center;
}

button {
  border: black 1px solid;
  width: 150px;
  height: 50px;
}

button:hover {
  cursor: pointer;
}

footer {
  margin-top: 20%;
}


button:active {
  transform: scale(0.95);
}

h1 {
  color: #E9F1F7;
  text-shadow:
    -2px 2px 0 #000,
    2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000;
}

body > main {
  background-color: #E9F1F7;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

body > main > h3 {
  margin-top: 0px;
}

body > main > h4, h1 {
  text-align: center;
}

#decks-showcase {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

.deck-card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  width: 350px;
  height: 510px;
  border: black 5px solid;
  background-color: #5f370a;
}

.deck-selected {
  border: yellow 5px solid;
}

.deck-card:hover {
  transform: scale(0.97);
  cursor: pointer;
}

.deck-card h5{
  font-size: 16pt;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #E9F1F7;
  align-self: center;
}